<ul class="header-menu">
  <li><a routerLink="/home" routerLinkActive="li-active"><i class="material-icons">home</i> 
      <span>Home</span></a></li>

  <li><a routerLink="/my-profile" routerLinkActive="li-active"><i class="material-icons">how_to_reg</i> 
      <span>My Profile</span></a></li>

    <li><a routerLink="/book-appointments" routerLinkActive="li-active"><i class="material-icons">book</i> 
    <span>Book Appointments</span></a></li>

  <li><a routerLink="/my-appointments" routerLinkActive="li-active"><i class="material-icons">book</i> 
      <span>My Appointments</span></a></li>

  <li><a routerLink="/medical-history" routerLinkActive="li-active"><i class="material-icons">payment</i> 
      <span>Medical History</span></a></li>

</ul>